@use "./common/common";
@use "./pages/home";
@use "./pages/home2";
@use "./pages/home3";
@use "./pages/home4";
@use "./pages/home5";
@use "./pages/home6";
@use "./pages/home8";
@use "./pages/home9";
@use "./pages/home10";
@use "./pages/home12";
@use "./pages/home13";
@use "./pages/home14";
@use "./variable/variable";
