@import "../variable/variable";
#contact {
  padding: 80px 0 160px;
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: $primary-color;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $secondary-color;
    margin-top: 32px;
    width: 920px;
  }
  .from {
    margin-top: 48px;
    padding: 70px;
    border: 1px solid $secondary-color;
    border-radius: 32px;
    .from_nam {
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $primary-color;
        margin-bottom: 16px;
      }
      input {
        width: 100%;
        border-radius: 8px;
        height: 60px;
        border: 1px solid $secondary-color;
        margin-bottom: 32px;
        &:last-child {
          height: 119px;
        }
      }
    }
    .submits {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .main {
        display: block;
        position: relative;
        padding-left: 12px;
        input {
          visibility: hidden;
          &:checked ~ .custom {
            background: $brand-color;
            border: none;
            &::after {
              display: block;
              top: 0;
              left: 7px;
              width: 10px;
              height: 18px;
              border: solid white;
              transform: rotate(45deg);
              border-width: 0 4px 4px 0;
            }
          }
        }
        .custom {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          border: 1px solid $secondary-color;
          background: transparent;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            background: #008000;
          }
          &::after {
            content: "";
            display: hidden;
            position: absolute;
          }
        }
      }
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $secondary-color;
        margin: 0 0 0 5px;
        width: fit-content;
      }
    }
    .submit {
      margin: 0;
    }
  }
  .info {
    padding: 70px 65px 102px;
    background: $brand-color;
    color: #fff;
    border-radius: 32px;
    margin-top: 48px;
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 32px;
      color: #fff;
    }
    ul {
      padding: 0;
      li {
        display: flex;
        gap: 16px;
        margin-bottom: 32px;
        a {
          color: #fff;
          font-size: 24px;
        }
        span {
          display: block;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 24px;
        }
      }
    }
    h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin-top: 24px;
      margin-bottom: 32px;
    }
    .flex_icon {
      display: flex;
      gap: 24px;
      align-items: center;
      a {
        font-size: 24px;
        color: #fff;
      }
    }
  }
}
