@import "../variable/variable";
#fproducts {
  padding: 0 0 160px;
  .colectext {
    padding: 48px 48px 318px;
    background: $brand-color;
    border-radius: 32px;
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 700;
      color: #fff;
    }
    p {
      color: #f1f1f1;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 400;

      margin: 16px auto 0;
    }
    a {
      padding: 16px 30px;
      background: #f46b5b;
      color: #fff;
      margin: 48px auto 0;
      border-radius: 8px;
      border: 1px solid #fff;
    }
  }
  .flex-div {
    display: flex;
    gap: 32px;
    .arr_div {
      width: 375px;
      border-radius: 32px;
      border: 1px solid #a7a7a7;
      img {
        width: 100%;
      }
      h3 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #383838;
        margin-top: 32px;
        text-align: center;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #383838;
        margin-bottom: 16px;
        text-align: center;
      }
      h4 {
        display: flex;
        justify-content: space-around;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #383838;
        width: 158px;
        margin: 0 auto;
        i {
          color: #ffd687;
        }
        .line {
          height: auto;
          width: 1px;
          background: #383838;
        }
      }
      .btn {
        padding: 12px 28px;
        background: #f46b5b;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        display: block;
        width: fit-content;
        margin: 32px auto 40px;
      }
    }
  }
}
