@import "../variable/variable";
#fsale3 {
  .txt-fsale3 {
    display: flex;
    align-items: center;
    gap: 24px;
    .time_cnt {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      .hr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 16px;
        border: 1px solid #a7a7a7;
        span {
          font-family: "Poppins", sans-serif;
          font-size: 24px;
          font-weight: 400;
          color: #f46b5b;
        }
        p {
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: #383838;
          margin-bottom: 0;
        }
      }
    }
  }
  .fsale_slid {
    position: relative;
    .pre_btn.slick-arrow {
      position: absolute;
      top: 50%;
      left: 5%;
      z-index: 1;
      background: $brand-color;
      color: #fff;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
    }
    .next_btn.slick-arrow {
      position: absolute;
      top: 50%;
      right: 5%;
      background: $brand-color;
      color: #fff;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
    }
  }
  .airpods {
    width: 400px;
    border: 1px solid #a7a7a7;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    position: relative;
    a {
      padding: 10px 23px;
      background: #f46b5b;
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      width: max-content;
      position: absolute;
      top: 5%;
      right: 5%;
      border-radius: 8px;
    }
    img {
      width: 100%;
    }
    p {
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 22px;
      font-weight: 400;
      &:nth-child(3) {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #f46b5b;
        span {
          color: #a7a7a7;
        }
      }
    }
    h3 {
      display: flex;
      justify-content: space-between;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #383838;
      margin-top: 32px;
      padding: 0 12px;
    }
    .bar {
      width: 98%;
      margin: 0 auto;
      height: 16px;
      background: #a7a7a7;
      border-radius: 4px;
      position: relative;
      margin-top: 8px;
      margin-bottom: 32px;
      .second_bar {
        width: 50%;
        height: 16px;
        background: #f46b5b;
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .other_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 160px 0 0;
    a {
      color: $secondary-color;
      font-size: 48px;
      font-weight: 700;
    }
  }
}
