@import "../variable/variable";
#login {
  padding: 80px 0;
  .login_box {
    padding: 80px 136px;
    border-radius: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 48px;
      color: $primary-color;
      margin-bottom: 24px;
      margin-bottom: 57px;
      width: max-content;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: $secondary-color;
      margin-bottom: 57px;
      width: max-content;
    }
    .in_txt {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: $secondary-color;
      margin-bottom: 16px;
    }
    input {
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid $secondary-color;
      margin-bottom: 32px;
    }
    .password-container {
      position: relative;
    }

    .password-toggle {
      position: absolute;
      right: 10px;
      top: 21%;
      cursor: pointer;
      i {
        color: $brand-color;
      }
    }

    .password-toggle svg {
      width: 20px;
      height: 20px;
      fill: #666;
    }

    .password-input {
      padding-right: 30px;
    }
    .login {
      padding: 16px 0;
      width: 100%;
      background: $brand-color;
      border: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #fff;
      border-radius: 8px;
    }
    .rember {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;
      .fex {
        align-items: center;
        p {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: $secondary-color;
          margin-bottom: 0;
          margin-left: 5px;
        }
      }
      .main {
        display: block;
        position: relative;
        padding-left: 12px;
        input {
          visibility: hidden;
          &:checked ~ .custom {
            background: $brand-color;
            border: none;
            &::after {
              display: block;
              top: 0;
              left: 7px;
              width: 10px;
              height: 18px;
              border: solid white;
              transform: rotate(45deg);
              border-width: 0 4px 4px 0;
            }
          }
        }
        .custom {
          position: absolute;
          top: 11px;
          left: 0;
          width: 24px;
          height: 24px;
          border: 1px solid $secondary-color;
          background: transparent;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            background: #008000;
          }
          &::after {
            content: "";
            display: hidden;
            position: absolute;
          }
        }
      }
      a {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $brand-color;
      }
    }
    .log_fot {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-top: 16px;
      margin-bottom: 0;
      span {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: $primary-color;
      }
      a {
        font-size: 24px;
        color: $secondary-color;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}
