@import "../variable/variable";
#navbar {
  .dashlogo {
    position: relative;
    display: block;
    cursor: pointer;
    .show{
      visibility: visible !important;
    }
    .dasborad {
      visibility: hidden;
      position: absolute;
      top: 128%;
      left: 0px;
      z-index: 9;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      &::before {
        content: "";
        border-left: 20px solid $brand-color;
        border-bottom: 20px solid transparent;
        position: absolute;
        top: -9px;
        left: 14px;
        transform: rotate(45deg);
      }
      li {
        padding: 0;
        &:hover {
          background: $brand-color;
          cursor: pointer;
        }
        &:hover a {
          color: #fff;
        }
        &:first-child {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        a {
          width: max-content;
          padding: 5px 10px;
          color: $primary-color;
        }
      }
    }
  }
  .respon {
    margin-left: 180px;
  }
  input {
    background: #efefef;
    color: #000000;
    width: 450px;
    &::placeholder {
      color: #a7a7a7;
    }
    border: none;
  }
  button {
    background: #f46b5b;
    color: #fff;
    border: none;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mail_icon {
    margin-left: 32px;
    color: #383838;
    font-size: 24px;
  }
  .signBtn {
    padding: 16px 40px;
    background: #fff;
    width: max-content;
    border-radius: 16px;
    color: #f46b5b;
    transition: all 0.4s;
    margin-left: 32px;
    font-size: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
      background: #f46b5b;
      color: #fff;
    }
  }
  .hnav {
    a {
      font-family: "Poppins", sans-serif;
      color: #383838;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
#second_menu {
  ul {
    justify-content: center;
    margin: 0 auto;
    li {
      a {
        font-family: "Poppins", sans-serif;
        color: #383838;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
