#quality3{
    padding:160px 0;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 56px;
      font-weight: 700;
      color: #fff;
      text-align: center;
    }
    p {
      color: #f1f1f1;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 400;
      width: 544px;
      margin: 16px auto 0;
    }
     a{
        width:max-content;
        padding:16px 30px;
        background:#F46B5B;
        color:#fff;
        margin: 48px auto 0;
        border-radius: 8px;
        display: block;
    }
}