@import "../variable/variable";
#team {
  padding: 0 0 160px;
  .team_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box {
    width: 318px;
    img {
      width: 100%;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }
    .box_txt {
      padding: 34px 0;
      background: #fff;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      h3 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: $primary-color;
      }
      p {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $secondary-color;
      }
    }
  }
}
