@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import "../variable/variable";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
}
.common_text {
  margin-bottom: 80px;
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #383838;
    text-align: center;
  }
  p {
    width: 480px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #a7a7a7;
    margin: 0 auto;
    text-align: center;
  }
}
.head_txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #383838;
  }
  a {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $brand-color;
  }
}
.small_arr {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  gap: 5px;
  a {
    color: $secondary-color;
    &:hover {
      color: $brand-color;
    }
  }
}
.submit {
  padding: 16px 57px;
  background: $brand-color;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 60px;
  border: none;
}
.bgcolor {
  background: #2b2d4d !important;
}
// font-family: 'Poppins', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
// @import "../variable/variable";
// font-family: 'Playfair Display', serif;
// font-family: 'Vidaloka', serif;
p {
  margin-bottom: 0;
}
